body{
    background-color: #A5D8FF;

}
.container {
  background-color: #446376;
  border-radius: 10px;
}
.page-header {
  border-bottom: 2px solid rgb(101, 148, 169)
}
.page-header img {
  display: block;
  margin: auto;
  padding: 20px ;
}

h1{
  color: red;
}

.name-btn{
  background-color : rgb(187, 239, 187);
  border: none;
  border-radius: 3px; 
  cursor: pointer; 
  font-size: 16;
  margin: 10px 15px;
  padding: 15px ;
} 


.modal-content {
  margin: auto;
  display: inline-block;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}


