h1{
    color: red;
}

.name-btn{
    background-color : rgb(187, 239, 187);
    border: none;
    border-radius: 3px; 
    cursor: pointer; 
    font-size: 16;
    margin: 10px 15px;
    padding: 15px ;
}

#modal-container {
    display: none;
  }

  #modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background: rgba(213, 183, 183, 0.954);
    z-index: 999; 
    overflow:auto; 
    display: grid;
    text-align: center;  
    transform: translate(-50%, -50%);
  }

  .modal {
    margin: auto;
    display: inline-block;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: center;
  }